@import "abstracts/mixins";
@import "abstracts/variables";

:host {
  display: block;
  background-color: $secondary-background-color-light;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.item {
  display: flex;
  flex-direction: column;
}

.experience-card-container {
  max-width: 700px;
}

.vector-container {
  display: none;
}

@include media-breakpoint-up("md") {
  .list {
    gap: 0rem;
  }

  .item {
    align-items: stretch;
    gap: 1.5rem;
    flex-direction: row;
  }

  .experience-card-container {
    padding: 3rem 0;
    flex: 1;
  }

  .vector-container {
    width: 175px;
    position: relative;
    display: block;
  }

  .vector {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 0;
  }
}
