<section class="section container">
  <h2 class="section-heading">Experience</h2>

  <ul class="list">
    <li class="item">
      <div class="experience-card-container">
        <app-experience-card [job]="jobs[3]" appFadeIn></app-experience-card>
      </div>
      <div class="vector-container">
        <svg
          width="100"
          height="100"
          viewBox="0 0 100 100"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="vector"
          appFadeIn
        >
          <path
            d="M23.1727 96.2151C23.1727 96.2151 41.2688 81.7384 37.6495 46.9039C34.0301 12.0694 3.84607 4.74775 3.84607 4.74775"
            stroke="#CDCDCD"
            stroke-width="4"
            stroke-linecap="round"
            stroke-dasharray="12 10"
          />
        </svg>
      </div>
    </li>
    <li class="item">
      <div class="vector-container">
        <svg
          width="100"
          height="101"
          viewBox="0 0 100 101"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="vector"
          appFadeIn
        >
          <path
            d="M16 81C16 81 3.32022 49.1235 26.9849 26.2101C50.6496 3.29671 89.7282 3.29671 89.7282 3.29671"
            stroke="#CDCDCD"
            stroke-width="4"
            stroke-linecap="round"
            stroke-dasharray="12 10"
          />
        </svg>
      </div>
      <div class="experience-card-container">
        <app-experience-card [job]="jobs[2]" appFadeIn></app-experience-card>
      </div>
    </li>
    <li class="item">
      <div class="experience-card-container">
        <app-experience-card [job]="jobs[1]" appFadeIn></app-experience-card>
      </div>
      <div class="vector-container">
        <svg
          width="100"
          height="103"
          viewBox="0 0 100 103"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="vector"
          appFadeIn
        >
          <path
            d="M45 98.6941C45 98.6941 72.5 66.1941 59 30.6941C45.5 -4.8059 6.5 4.19409 6.5 4.19409"
            stroke="#CDCDCD"
            stroke-width="4"
            stroke-linecap="round"
            stroke-dasharray="12 10"
          />
        </svg>
      </div>
    </li>
    <li class="item">
      <div class="vector-container"></div>
      <div class="experience-card-container">
        <app-experience-card [job]="jobs[0]" appFadeIn></app-experience-card>
      </div>
    </li>
  </ul>
</section>
