@import "abstracts/variables";

section.section {
  padding-top: $default-section-padding-top;
  padding-bottom: $default-section-padding-bottom;
}

h2.section-heading {
  position: relative;
  margin-bottom: 3rem;
  padding-bottom: 0.4rem;
  text-transform: uppercase;
  letter-spacing: calc(2 / 28 * 1em);

  &::after {
    content: "";
    display: block;
    height: 4px;
    width: 30px;
    background-color: $accent-color;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

p.section-paragraph {
  line-height: 1.5;
  letter-spacing: calc(1 / 16 * 1em);

  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

h3.subsection-heading {
  margin-bottom: 1rem;
  letter-spacing: calc(1 / 18 * 1em);
}

p.subsection-paragraph {
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: calc(1 / 14 * 1em);
}
