<section class="section container">
  <h2 class="section-heading">Portfolio</h2>
  <p class="section-paragraph">
    Nachfolgend ist eine Auswahl an Projekten aufgelistet, an denen ich bisher
    gearbeitet habe. Die Projekte sind teilweise innerhalb eines Unternehmens,
    der Universität oder in der Freizeit entstanden.
  </p>
  <div class="projects-container">
    <app-project
      *ngFor="let project of projects"
      [project]="project"
      appFadeIn
    ></app-project>
  </div>
</section>
