<section class="section container" id="portfolio">
  <h2 class="section-heading">Portfolio</h2>
  <p class="section-paragraph">
    Cupidatat enim tempor laboris commodo est. Enim qui deserunt aliqua
    excepteur ut occaecat consectetur sunt eiusmod ex deserunt qui. Nulla sit
    mollit in nisi fugiat fugiat eu. Amet id non aute non in excepteur non duis
    eiusmod enim. Elit sunt sit ullamco cillum eu anim velit quis aute excepteur
    eu sunt. Aliqua eu ut deserunt aute consectetur velit magna voluptate
    voluptate ipsum veniam aliquip. Nisi cupidatat Lorem adipisicing consequat
    ea.
  </p>
  <div class="projects-container">
    <app-project
      *ngFor="let project of projects"
      [project]="project"
    ></app-project>
  </div>
</section>
