@import "abstracts/variables.scss";
@import "abstracts/mixins.scss";

div.background-container {
  height: 80vh;
  background-image: url("/assets/images/laptop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  position: relative;
}

div.overlay {
  background-color: rgba($color: #000000, $alpha: 0.7);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

div.introduction-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 30%;
  width: 100%;
}

img {
  width: 150px;
  height: 150px;
  box-sizing: content-box;
  object-fit: cover;
  border-radius: 50%;
  border: 10px solid rgba($color: #ffffff, $alpha: 0.1);
  margin-bottom: 1rem;
}

div.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

h1 {
  color: $primary-font-color-light;
}

div.subtitle-container {
  display: flex;
  align-items: center;
  position: relative;
}

p.subtitle {
  color: $primary-font-color-light;
  font-size: 1.125rem;
  line-height: 1.25;
}

span.typed-word {
  font-family: $secondary-font-bold;
  color: inherit;
}

div.cursor {
  width: 1px;
  height: calc(1.125rem * 1.25);
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
}

div.contact-button-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: calc(100% - 64px);
}

a.button {
  position: absolute;
  bottom: calc(100% - 64px);
  right: 50%;
  transform: translate(50%, 100%);
  z-index: 1;

  width: 10.25em;
  height: 2.75em;

  overflow: hidden;
  justify-content: center;
  padding: 0;
  transition-property: background-color, bottom, right, transform, width, height,
    border-radius;
  transition-duration: 0.25s, 0.5s, 0.5s, 0.5s, 0.25s, 0.25s, 0.5s;
  transition-timing-function: ease-in-out;
}

a.button svg {
  transition-property: width, height;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}

a.button.fixed {
  position: fixed;
  bottom: 1em;
  right: 1em;
  transform: initial;
  width: 4em;
  height: 4em;
  border-radius: 50%;
}

a.button.fixed svg {
  font-size: 1.5em;
}

@include media-breakpoint-up("md") {
  a.button.fixed {
    font-size: 1.125rem;
  }
}

@include media-breakpoint-up("lg") {
  a.button.fixed {
    font-size: 1.25rem;
  }
}
