// Colors
$light-font-color: #ffffff;
$primary-font-color: #303030;
$secondary-font-color: #5d5d5d;
$accent-color: #e94e6e;

// Breakpoints

// Font-families
$primary-font-light: "Poppins-Light";
$primary-font-regular: "Poppins-Regular";
$primary-font-bold: "Poppins-Bold";

$secondary-font-light: "Railway-Light";
$secondary-font-regular: "Railway-Regular";
$secondary-font-bold: "Railway-Bold";

// Spacing
$horizontal-padding: 1rem;
