@import "abstracts/variables";

div.header-top-row.white svg.burger-menu-icon {
  fill: $secondary-font-color-dark;
}

div.header-top-row.transparent svg.burger-menu-icon {
  fill: $primary-font-color-light;
}

button {
  background-color: transparent;
  border: none;
}

svg.burger-menu-icon {
  display: block;
  width: 2rem;
  height: 2rem;
  transition: fill 0.375s ease-in-out;
}

ul {
  display: flex;
  flex-direction: column;
  background-color: $primary-font-color-light;
  transition: height 0.25s ease-in-out;
  overflow: hidden;
}

ul.collapsed {
  height: 0;
}

ul.expanded {
  // Height has to be set manually. Height auto can't be animated.
  height: calc(6 * 2rem + 7 * 0.5rem);
}

li:first-child a {
  padding-top: 0.5rem;
}

li:last-child a {
  padding-bottom: 0.5rem;
}

li a {
  display: block;
  padding: 0.25rem 0;
}

li a p {
  display: inline-block;
  margin: 0 auto;
  text-transform: uppercase;
  font-family: $secondary-font-regular;
  font-size: 1rem;
  line-height: 2rem;
  position: relative;

  &::after {
    content: "";
    display: block;
    height: 4px;
    width: 0;
    background-color: $accent-color;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.25s ease-in-out;
  }
}

li a.active p,
li a:hover p {
  &::after {
    width: 100%;
  }
}
