<header
  *ngIf="headerBackgroundColor !== undefined"
  [ngClass]="headerBackgroundColor"
  class="header"
>
  <div class="header-top-row" [ngClass]="headerBackgroundColor">
    <div class="container">
      <p>Jonas Wolfram</p>
      <button (click)="toggleMenu()">
        <svg
          width="100%"
          height="100%"
          viewBox="0 0 90 48"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          xml:space="preserve"
          xmlns:serif="http://www.serif.com/"
          style="
            fill-rule: evenodd;
            clip-rule: evenodd;
            stroke-linejoin: round;
            stroke-miterlimit: 2;
          "
        >
          <g transform="matrix(1,0,0,1,-268.467,-218.915)">
            <g transform="matrix(0.579031,0,0,1,113.017,0)">
              <g transform="matrix(1,0,0,0.707341,0,71.7285)">
                <path
                  d="M423.824,215.153C423.824,211.252 419.955,208.085 415.189,208.085L277.103,208.085C272.337,208.085 268.467,211.252 268.467,215.153C268.467,219.055 272.337,222.222 277.103,222.222L415.189,222.222C419.955,222.222 423.824,219.055 423.824,215.153Z"
                />
              </g>
              <g transform="matrix(1,0,0,0.707341,0,90.4371)">
                <path
                  d="M423.824,215.153C423.824,211.252 419.955,208.085 415.189,208.085L277.103,208.085C272.337,208.085 268.467,211.252 268.467,215.153C268.467,219.055 272.337,222.222 277.103,222.222L415.189,222.222C419.955,222.222 423.824,219.055 423.824,215.153Z"
                />
              </g>
              <g transform="matrix(1,0,0,0.707341,0,109.168)">
                <path
                  d="M423.824,215.153C423.824,211.252 419.955,208.085 415.189,208.085L277.103,208.085C272.337,208.085 268.467,211.252 268.467,215.153C268.467,219.055 272.337,222.222 277.103,222.222L415.189,222.222C419.955,222.222 423.824,219.055 423.824,215.153Z"
                />
              </g>
            </g>
          </g>
        </svg>
      </button>
    </div>
  </div>
  <ul [ngClass]="shouldShowMenu ? 'expanded' : 'collapsed'">
    <li>
      <a
        routerLink="/"
        [skipLocationChange]="true"
        [class.active]="activeSectionId === SectionId.HOME"
        (click)="toggleMenu()"
      >
        <p>Home</p>
      </a>
    </li>
    <li>
      <a
        routerLink="/"
        [fragment]="SectionId.ABOUT"
        [skipLocationChange]="true"
        [class.active]="activeSectionId === SectionId.ABOUT"
        (click)="toggleMenu()"
        ><p>About</p></a
      >
    </li>
    <li>
      <a
        routerLink="/"
        [fragment]="SectionId.MY_SERVICES"
        [skipLocationChange]="true"
        [class.active]="activeSectionId === SectionId.MY_SERVICES"
        (click)="toggleMenu()"
        ><p>Services</p></a
      >
    </li>
    <li>
      <a
        routerLink="/"
        [fragment]="SectionId.PROJECTS"
        [skipLocationChange]="true"
        [class.active]="activeSectionId === SectionId.PROJECTS"
        (click)="toggleMenu()"
        ><p>Portfolio</p></a
      >
    </li>
    <li>
      <a
        routerLink="/"
        [fragment]="SectionId.RESUME"
        [skipLocationChange]="true"
        [class.active]="activeSectionId === SectionId.RESUME"
        (click)="toggleMenu()"
        ><p>Resume</p></a
      >
    </li>
    <li>
      <a
        routerLink="/"
        [fragment]="SectionId.CONTACT"
        [skipLocationChange]="true"
        [class.active]="activeSectionId === SectionId.CONTACT"
        (click)="toggleMenu()"
        ><p>Contact Me</p></a
      >
    </li>
  </ul>
</header>
