@import "abstracts/variables";
@import "abstracts/mixins";

.experience-card {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  display: block;
  min-width: 0px;
  min-height: 0px;
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: $default-box-shadow;
}

.right-side-container {
  flex: 1;
}

.duration {
  font-size: 0.75rem;
  line-height: 1.5;
  font-family: $secondary-font-light;
  display: inline-block;
  margin-left: 0.5rem;
}

.subsection-heading {
  margin-bottom: 0.25rem;
}

.subsection-heading,
.project-type {
  text-align: left;
}

.subsection-paragraph {
  text-align: justify;
}
