@import "abstracts/variables";
@import "abstracts/mixins";

:host {
  display: block;
  background-color: $secondary-background-color-light;
}

div.form-container {
  position: relative;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem 0;
  visibility: hidden;
}

form.visible {
  visibility: visible;
}

div.name-and-email-container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

div.formgroup {
  display: flex;
  background-color: $primary-background-color-light;
}

div.alerts-container {
  padding-top: 0.375rem;
}

p.alert {
  color: $error-color;
  text-align: start;
  font-size: 0.75rem;
}

label {
  border: 1px solid #e2e2e2;
  border-right: none;
  padding: 0.75rem;
}

svg {
  fill: $secondary-font-color-dark;
  width: 1rem;
  height: 1rem;
  display: block;
}

input {
  flex: 1 1 auto;
}

.ng-invalid:not(form).ng-touched {
  border: 1px solid $error-color;
}

.ng-valid:not(form).ng-touched {
  border: 1px solid $success-color;
}

textarea {
  width: 100%;
  resize: vertical;
}

input,
textarea {
  border: 1px solid #e2e2e2;
  padding: 0.75rem 0.5rem;
  transition-property: border-color, box-shadow;
  transition-duration: 0.125s;
  transition-timing-function: ease-in-out;
  line-height: 1rem;
}

input:focus,
textarea:focus {
  box-shadow: 0 0 8px #e2e2e2;
}

button {
  align-self: center;
}

div.lottie-player-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.lottie-player-container p {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-50%, 0);
}

span.bold-text {
  font-family: $secondary-font-bold;
  font-size: 1.5rem;
  color: $primary-font-color-dark;
}

@include media-breakpoint-up("md") {
  div.name-and-email-container {
    flex-direction: row;
    & > * {
      flex: 1;
    }
  }
}
