@import "abstracts/mixins";

p.project-type {
  color: $accent-color;
  font-size: 0.75rem;
  letter-spacing: calc(3 / 12 * 1em);
  text-transform: uppercase;
  font-family: $secondary-font-bold;
  margin-bottom: 0.125rem;
}

:root {
  --default-section-padding-top: 3.75rem;
  --default-section-padding-bottom: 5.25rem;
}

@include media-breakpoint-up("lg") {
  :root {
    --default-section-padding-top: calc(3.75rem * 1.5);
    --default-section-padding-bottom: calc(5.25rem * 1.5);
  }
}
