<header
  *ngIf="headerBackgroundColor !== undefined"
  [ngClass]="headerBackgroundColor"
  class="header"
>
  <div class="header-top-row" [ngClass]="headerBackgroundColor">
    <div class="container">
      <a routerLink="/" [skipLocationChange]="true">
        <svg
          class="portfolio-logo"
          width="100%"
          height="100%"
          viewBox="0 0 260 180"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          xml:space="preserve"
          xmlns:serif="http://www.serif.com/"
          style="
            fill-rule: evenodd;
            clip-rule: evenodd;
            stroke-linejoin: round;
            stroke-miterlimit: 2;
          "
        >
          <g transform="matrix(9.57144,0,0,9.57144,-258.725,-121.701)">
            <g transform="matrix(11.6973,0,0,11.6973,26.5283,25.662)">
              <path
                d="M0.559,-0.452L0.171,-0.313L0.559,-0.175L0.559,-0.053L0.043,-0.256L0.043,-0.371L0.559,-0.574L0.559,-0.452Z"
                style="fill: rgb(128, 128, 128); fill-rule: nonzero"
              />
            </g>
            <g transform="matrix(11.6973,0,0,11.6973,33.5707,25.662)">
              <path
                d="M0.415,-0.021C0.415,0.061 0.4,0.12 0.371,0.155C0.341,0.19 0.292,0.207 0.224,0.207L0.07,0.207L0.07,0.097L0.184,0.097C0.216,0.097 0.239,0.088 0.252,0.07C0.265,0.052 0.272,0.022 0.272,-0.021L0.272,-0.437L0.127,-0.437L0.127,-0.547L0.415,-0.547L0.415,-0.021ZM0.415,-0.646L0.272,-0.646L0.272,-0.813L0.415,-0.813L0.415,-0.646Z"
                style="fill: rgb(233, 78, 109); fill-rule: nonzero"
              />
            </g>
            <g transform="matrix(11.6973,0,0,11.6973,40.613,25.662)">
              <path
                d="M0,-0.547L0.119,-0.547L0.184,-0.128L0.243,-0.404L0.359,-0.404L0.417,-0.128L0.483,-0.547L0.602,-0.547L0.503,-0L0.367,-0L0.301,-0.284L0.235,-0L0.099,-0L0,-0.547Z"
                style="fill: rgb(233, 78, 109); fill-rule: nonzero"
              />
            </g>
            <g transform="matrix(11.6973,0,0,11.6973,47.6554,25.662)">
              <path
                d="M0.043,-0.452L0.043,-0.574L0.559,-0.371L0.559,-0.256L0.043,-0.053L0.043,-0.175L0.431,-0.313L0.043,-0.452Z"
                style="fill: rgb(128, 128, 128); fill-rule: nonzero"
              />
            </g>
          </g>
        </svg>
      </a>
      <ul>
        <li>
          <a
            routerLink="/"
            [skipLocationChange]="true"
            [class.active]="activeSectionId === SectionId.HOME"
            >Home</a
          >
        </li>
        <li>
          <a
            routerLink="/"
            [fragment]="SectionId.ABOUT"
            [skipLocationChange]="true"
            [class.active]="activeSectionId === SectionId.ABOUT"
            >Über mich</a
          >
        </li>
        <li>
          <a
            routerLink="/"
            [fragment]="SectionId.MY_SERVICES"
            [skipLocationChange]="true"
            [class.active]="activeSectionId === SectionId.MY_SERVICES"
            >Leistungen</a
          >
        </li>
        <li>
          <a
            routerLink="/"
            [fragment]="SectionId.PROJECTS"
            [skipLocationChange]="true"
            [class.active]="activeSectionId === SectionId.PROJECTS"
            >Portfolio</a
          >
        </li>
        <li>
          <a
            routerLink="/"
            [fragment]="SectionId.RESUME"
            [skipLocationChange]="true"
            [class.active]="activeSectionId === SectionId.RESUME"
            >Lebenslauf</a
          >
        </li>
        <li>
          <a
            routerLink="/"
            [fragment]="SectionId.CONTACT"
            [skipLocationChange]="true"
            [class.active]="activeSectionId === SectionId.CONTACT"
            >Kontakt</a
          >
        </li>
      </ul>
    </div>
  </div>
</header>
