header {
  padding: 1rem;
}

button {
  width: 2rem;
  height: 2rem;
  display: flex;
  margin-left: auto;
  justify-content: center;
  align-items: center;
}

svg {
  width: 80%;
  height: 80%;
  display: block;
}
