<section class="section container">
  <h2 class="section-heading">Ausbildung</h2>
  <p class="section-paragraph">
    Sit anim laborum in quis voluptate labore adipisicing dolor tempor.
    Consectetur pariatur velit anim culpa sint. Proident est aute eiusmod Lorem
    exercitation. Laboris esse deserunt ipsum aliquip cupidatat.
  </p>
  <div class="cards-container">
    <app-resume-card
      *ngFor="let academicJob of academicJobs"
      [job]="academicJob"
      appFadeIn
    ></app-resume-card>
  </div>
</section>
<section class="section container">
  <h2 class="section-heading">Berufserfahrung</h2>
  <p class="section-paragraph">
    Pariatur consectetur anim culpa quis reprehenderit ullamco consectetur eu
    laboris incididunt cupidatat. Duis reprehenderit consectetur eu ea deserunt
    ipsum elit labore excepteur sint commodo nisi commodo mollit.
  </p>
  <div class="cards-container">
    <app-resume-card
      *ngFor="let job of jobs"
      [job]="job"
      appFadeIn
    ></app-resume-card>
  </div>
</section>
