@import "abstracts/variables";

div.technologies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.875rem;
  width: 100%;
  max-width: calc(4 * 64px + 3 * 1.875rem);
  margin: 0 auto;
}
