<section class="section container">
  <h2 class="section-heading">Technologien</h2>
  <p class="section-paragraph">
    Wesentliche Technologien, die ich innerhalb des Projekts verwendet habe.
  </p>
  <div class="technologies-container">
    <div
      *ngFor="let technology of technologies"
      class="technology-container"
      [style.background]="
        'linear-gradient(180deg, ' +
        technology.accentColor +
        '77, ' +
        technology.accentColor +
        '99)'
      "
      [title]="technology.name"
    >
      <img [src]="technology.iconUrl" alt="" />
    </div>
  </div>
</section>
