<section class="section container">
  <h2 class="section-heading">About</h2>
  <p class="section-paragraph">
    Hi, my name is Jonas. I'm a freelance frontend and web3 developer by heart.
    I build beautiful custom websites based on design mockups that communicate
    with the blockchain. With over 5 years of experience in coding under my belt
    I can help you make a website that will blow your users' minds. By
    specialising in web3 development I am able to assist you in creating a
    cutting-edge decentralised application. Scroll down and see for yourself!
  </p>
</section>
