<section class="section container">
  <h2 class="section-heading">Über mich</h2>
  <p class="section-paragraph">
    Hi, ich bin Jonas. Ich bin Junior-Webentwickler und arbeite als Freelancer.
    Ich habe ein Studium im Feld Computer Science abgeschlossen und habe die
    letzten Jahre bereits eine Vielzahl an Web-Projekten vollendet, sowohl für
    Unternehmen, die Hochschule, als auch privat. Durch meinen bisherigen
    Einsatz, sowohl im Front- als auch im Backend und meiner Leidenschaft für
    abwechslungsreiche Arbeit, kann ich die gesamte Webentwicklung auf Basis
    einer Designvorlage umsetzen oder speziell einen Bereich der Webentwicklung
    übernehmen.
  </p>
</section>
