@use "sass:map";
@import "abstracts/variables";

div.container {
  padding-bottom: var(--default-section-padding-bottom);
}

div.project-type-and-cinema-image-container {
  max-width: 800px;
  margin: 0 auto 0.75rem auto;
}

p.project-type {
  text-align: start;
  margin-bottom: 0.5rem;
}

div.image-container {
  overflow: hidden;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

div.cinema-image-container {
  border-radius: 12px;
  cursor: grab;
}

div.cinema-image-container:active {
  cursor: grabbing;
}

div.padding-top-hack-outer-container {
  // 16:10 aspect ratio
  padding-top: 62.5%;
  position: relative;
}

div.padding-top-hack-inner-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

div.swiper {
  width: 100%;
  height: 100%;
}

div.slideshow-background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

img.slideshow-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: relative;
}

div.preview-images-container {
  display: flex;
  gap: 0 0.75rem;
  overflow: auto;
  // This is necessary because otherwise the box shadow would not be visible anymore. The box shadow gets cut off because of the the overflow property.
  padding: 0.5rem 0;
  margin: -0.5rem 0 1.5rem 0;

  & > * {
    width: calc(1 / 3 * 100% - 1 / 3 * 100% / 2 / 3 - 2 / 3 * 0.75rem);
    max-width: 150px;
    flex: 0 0 auto;

    &:first-child {
      margin-left: auto;
    }

    &:last-child {
      margin-right: auto;
    }
  }
}

div.preview-image-container {
  border-radius: $default-card-border-radius;
}

button {
  display: block;
  width: 100%;
  height: 100%;
}

div.black-overlay {
  background-color: #00000055;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

div.black-overlay.visible {
  opacity: 1;
}

svg {
  width: 30px;
  height: 30px;
}

h1 {
  margin-bottom: 1rem;
  letter-spacing: calc(1 / 32 * 1em);
}

p.short-description {
  font-size: 1.125rem;
  letter-spacing: calc(1 / 18 * 1em);
  line-height: 1.5;
  width: 100%;
  max-width: map.get($container-widths, "md");
  margin-left: auto;
  margin-right: auto;
}
