@import "abstracts/variables";

@font-face {
  font-family: $primary-font-light;
  src: url("/assets/fonts/Poppins/Poppins-Light.ttf");
}
@font-face {
  font-family: $primary-font-regular;
  src: url("/assets/fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: $primary-font-bold;
  src: url("/assets/fonts/Poppins/Poppins-Bold.ttf");
}

@font-face {
  font-family: $secondary-font-light;
  src: url("/assets/fonts/Raleway/Raleway-Light.ttf");
}
@font-face {
  font-family: $secondary-font-regular;
  src: url("/assets/fonts/Raleway/Raleway-Regular.ttf");
}
@font-face {
  font-family: $secondary-font-bold;
  src: url("/assets/fonts/Raleway/Raleway-Bold.ttf");
}

* {
  color: $secondary-font-color-dark;
  text-align: center;
  font-family: $secondary-font-regular;
  font-variant-numeric: lining-nums;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $primary-font-bold;
  color: $primary-font-color-dark;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.125rem;
}

input,
textarea {
  font-size: 0.875rem;
  text-align: start;
}

@include media-breakpoint-up("md") {
  h1 {
    font-size: calc(2rem * 1.05);
  }
  h2 {
    font-size: calc(1.75rem * 1.05);
  }
}

@include media-breakpoint-up("lg") {
  h1 {
    font-size: calc(2rem * 1.05 * 1.05);
  }
  h2 {
    font-size: calc(1.75rem * 1.05 * 1.05);
  }
}
